ul > li {
    list-style: none;
}

#container li {
    line-height: 30px;
    color: white;
    font-size: 16px;
}
#container li>ul{
  margin-left: 20px;
}

    /* 可展开*/
.switch-open {
    margin-left: -12px;
    border: 6px solid transparent;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top-color: #015B66;
}

/* 展开完毕*/
.switch-close {
    margin-left: -12px;
    border: 6px solid transparent;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left-color: #015B66;
    margin-bottom: 2px;

}

/* 改变CheckBox样式*/
input[type='checkbox'] {
    width: 20px;
    height: 20px;

    -webkit-appearance: none;
    -moz-appearance: none;
    border:1px solid #00f6ff;
    border-radius: 3px;
    outline: none;
    color: white;
    text-align: center;
}

input[type='checkbox']:before {
    content: '√ ';
    color: transparent;
}

/*input[type=checkbox]:checked {*/
    /*background-color: #30add6;*/
/*}*/

input[type=checkbox]:checked:before {
    content: '√';
    color: white;
    font-weight: bold;
}

.add {
    color: #FBDE2D;
    cursor: pointer;
}

.edit {
    color: #25D8DF;
    cursor: pointer;
}

.delete {
    color: #EC1C65;
    cursor: pointer;
}